<% provide(:title, "Purchases") %>

<h1>Purchases</h1>
<div class="row">
	<div class="span10 offset1">
		<%= render "shared/purchase_table", obj: @purchases, admin: true %>
		<%= link_to "New purchase", new_purchase_path %>

		<%= will_paginate %>
	</div>
</div>
