<header>
		<%= image_tag "THBSm.png", id: "logo" %>
		<span id="team">
			<span id="teamlabel">Team </span>
			<%= @hunt.team_name %>
		</span>
		<span id="huntname">
			<%= @hunt.product.location.name %>
		</span>
	<%#= render "shared/hunt_table", obj: @hunt %>
</header>