<% xml_doc = load_xml("product", "#{@hunt.product.data_file}.xml") %>
<% clue_node = xml_doc.xpath("//clues/clue[@number='#{@hunt.current_clue}']") %>

<h3>Take A Break</h3>

<div class="row">
	<p>Hope you are enjoying your Treasure Hunt. Enjoy a well-earned break and click "Continue" when you're ready to get going again with clue <%= @hunt.current_clue %>.</p>
	<%= form_for(@hunt, remote: true, html: { class: "form-horizontal well" }) do |f| %>
		<div id="buttonbar">
			<%= f.submit "Continue", name: "submit_resume", class: "btn" %>		
		</div>
	<% end %>
</div>

