<h1>Start Treasure Hunting</h1>

<div class="row-fluid">
	<div class="span5 offset1">
		<%= form_tag( "/hunt_login", html: { class: "form-horizontal" } ) do %>
			<%= label_tag "voucher", "Enter voucher code" %>
			<input name="honey" type="text" class="input-honey" />
			<div class="input-append">
				<input id="voucher" name="voucher" type="text" class="input-text" />
				<%= submit_tag "Go", class: "btn btn-primary" %>
			</div>
		<% end %>
		<p id="athome"><span class="label label-warning">Note</span> You probably only want to start your Treasure Hunt when you are in the right place with your mobile phone or tablet.</p>
		<p><%= link_to "Return to Treasure Hunt Britain", root_path %></p>
	</div>
	<div class="span5">
		<p>You will find your voucher code on your confirmation email.</p>
		<ul><li>If you have an account you can also access your hunt directly from My Account.</li>
		<li>If you are playing a team game, the organiser should give you your voucher code.</li>
		<li>If you have lost your voucher code, please contact us using the feedback form and tell us your email address so that we can find your record.</li></ul>
	</div>
</div>
