<% xml_doc = load_xml("product", "#{@hunt.product.data_file}.xml") %>
<% clue_node = xml_doc.xpath("//clues/clue[@number='#{@hunt.current_clue}']") %>

<h2>Take A Break</h2>

<div class="row">
	<p>Hope you are enjoying your Treasure Hunt. Take a well-earned break and click "Continue hunt" when you're ready to get going again with clue <%= @hunt.current_clue %>.</p>
	<%= form_tag("/hunt_trail/" + @hunt.id.to_s, remote: true, class: "form", method: "post") do %>
	<%# form_for(@hunt, remote: true, html: { class: "form" }) do |f| %>
		<div id="buttonbar">
			<input class="btn btn-block" name="submit_resume" type="submit" value="Continue hunt" />			
		</div>
		<section id="popup_confirm">
			<h2></h2>
			<p></p>
			<div class="outer"><div class="inner"><div class="center">
				<input class="btn" name="submit_ok" type="submit" value="OK" />			
				<input class="btn" name="submit_cancel" type="submit" value="Cancel" />			
				<input name="popaction" id="popup_action" type="hidden" />
			</div></div></div>
		</section>
	<% end %>
</div>
<div id="overlay" class="main_dark_overlay"></div>
<section id="popup">
	<h2></h2>
	<p id="p1"></p>
	<p id="p2"></p>
	<div class="outer"><div class="inner"><div class="center">
	<a id="closepopup" href="#" class="btn"></a>
	</div></div></div>
</section>

	<script>
		$('#closepopup').click(function(){
			$("#overlay").hide()
			$("#popup").hide()	
			if (($("#popup").attr("data-current") == 'correct') || ($("#popup").attr("data-current") == 'reload'))
			{
				$("#popup").attr("data-current") == ''
				window.location.replace(<%= @hunt.id.to_s %>);
			}
		})
		$('#okgiveup').click(function(){
			$("#overlay").hide()
			$("#popup_confirm").hide()	
			window.location.replace(<%= @hunt.id.to_s %>);
		})
		$('#cancelgiveup').click(function(){
			$("#overlay").hide()
			$("#popup_confirm").hide()	
		})
	</script>