<div class="row">
	<p>Give your hunting team a name!</p>
	<%= form_for(@hunt, url: "/hunt_trail/"+@hunt.id.to_s , method: :post, html: { class: "form well" }) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= label_tag "team_name", "Team name" %>
		<input id="hunt_team_name" name="hunt[team_name]" type="text" class="input-text" />

		<label for="email">Email <span class="footnote">(optional*)</span></label>
		<input id="hunt_email" name="hunt[email]" type="text" class="input-text" />
		
		<%= f.submit "Set", name: "submit_team_name", class: "btn btn-primary" %>
	<% end %>
	<p class="footnote">* provide an email address if you'd like us to send you a record of your completed treasure hunt. We will not use this email address for any other purpose or pass it to anyone else.</p>
</div>
