		<div class="content span4">
			<p>Treasure Hunt Britain was formed in 2011. 
			We aim to provide fun Treasure Hunts giving you the opportunity to explore our favourite places in the UK, way more interesting than using a guidebook!
			</p>
			<p>The idea grew out of something we have always enjoyed: over the last fifteen years we have created Treasure Hunts for each other all around the UK. 
			We love exploring beautiful towns and countryside, and we love setting and solving challenges. 
			We thought you might enjoy our Treasure Hunts too!
			</p>
		</div>
		<div class="content span4">
			<p>To make Treasure Hunts that anyone can enjoy we've thought carefully, and have ended up creating brand new hunts in the places that we already know and love. 
			The number of hunts will grow as we return to old haunts and plan out new Treasure Hunts.</p>
			<p>We also like to mention places you might visit on your day out, or spots to stop for food and drink.
			Usually these are places we have been to and enjoyed ourselves, although occasionally we've noted something recommended to us.</p>
		</div>
		<div class="content span4">
			<p><%= image_tag("SquirrelApproved.png", alt: "Squirrel approved!", title: "Squirrel approved!" ) %>
		</div>