<div class="well">
	You are already signed in.  Not you?<br/>
	<% if signin %>
		<%= link_to "Sign in", signout_path, method: "delete" %><br/>
	<% end %>
	<% if signup %>
		<%= link_to "Register with Hunt Britain", signout_path, method: "delete"  %>
	<% end %>
</div>
