		<div class="content span6 offset1">
		
			<form action="feedback" method="POST" id='contactForm' class="form-horizontal" >
				<p class="center">Have any questions or comments? We're only a click away!</p>
				
				  <div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
					  <input type="text" id="name_input" name="name" class="required" value="<%=@feedback_name%>"/>
					</div>
				  </div>
				  
				  <div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
					  <input type="text" id="email_input" name="email" class="required email" value="<%=@feedback_email%>"/>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="message">Message</label>
					<div class="controls">
					  <textarea rows="3" id="message_textarea" name="message" class="required"><%=@feedback_message%></textarea>
					</div>
				  </div>
				  <div class="control-group">
					<div class="controls">
					  <input type="text" name="honey" class="input_honey"/>
					   <button type="submit" class="btn btn-primary">Send message</button>
					</div>
				  </div>  

			</form>
		</div>
		<div class="content span3 offset1">
			<p>We are particularly keen to hear if you have any problems with directions or clues that may no longer work.</p> 
			<p>While we try and re-check our hunts regularly, towns and cities change all the time. There may be roadworks, buildings may be altered, signs removed.</p> 
			<p>Thanks for helping keep these hunts fun for everyone!</p>
		</div>