<h2>What if my mobile phone can't connect?</h2>
<p>We have only offered hunts in areas with good mobile phone coverage, but of course problems can happen. If you lose connection briefly, no problem, you can continue from where you left off as soon as it comes back. It might also be worth noting the answer to your current clue and then moving away to see if you can find a signal.</p>
<p>As a last resort, we do send you the PDF version of the hunt with your order, so if you print a copy and bring it you can play on.</p>
<p>If you are totally stuck, cannot get a connection and don't have the paper hunt, just enjoy your day out and we'll refund you.</p>
<h2>What if my battery runs out?</h2>
<p>Our Treasure Hunts use very little data, and do not use location services. We've tested them, and they use very little of a phone's charge.</p>
<p>If you want to make sure you have enough battery, turn off location services and avoid using too many other apps while you're hunting. We can't help you much if your phone runs out of juice, unless you printed a copy of the PDF hunt to take with you.</p>
<h2>How much of my data allowance will this use?</h2>
<p>Very little! We designed our hunts to be compact, and all of them use less than 1MB of data. This also means they should load very quickly as you hunt.</p>
<h2>How do I print the PDF hunt?</h2>
<p>Our hunts include some picture clues, so your printer will need to be able to print photographs legibly. Colour would definitely be preferable, to help when looking at the pictures.</p>
<p>The hunt booklet is A5 size, so when you open it in Acrobat Reader and choose "Print" you will need to change the settings to print multiple pages on a sheet, set the orientation to Landscape, and set it to print 2 by 1 pages. Here is a <a href="/print_settings/" target="_blank">screenshot</a> from my Acrobat Reader as an example, although your version may be different.</p>
<h2>What happens if a clue has disappeared?</h2>
<p>It does happen, which is why we try to re-walk our Treasure Hunts as often as possible. We also try and make clues out of things that will last, but there can be temporary building works, roadworks, vandalism and sometimes of course a building changes name or function.</p>
<p>If you try to solve a clue and really can't, even with the hint provided, just shrug your shoulders and pass it. This is supposed to be a fun day out, after all! However, we'd really appreciate if you take a minute to tell us about the problem, it will help anyone else who does the hunt after you.</p>
<h2>Can I create a Treasure Hunt in my own town?</h2>
<p>Talk to us! We'd love to put your Treasure Hunt onto our site, so we can explain how the whole process works and what format we need. If we put it up, we'll split any sales with you 50/50. How's that?</p>
<h2>Can I create a Treasure Hunt just for my friends and family?</h2>
<p>We're working on providing a really easy way for you to create your own private Treasure Hunt here, for your family and friends to play on their mobile phones and tablets. Keep watching this space!</p>