<div class="content span9 offset1">
	<h2>How hard are these Treasure Hunts?</h2>
	<p>These hunts are meant to be fun, not tormenting. The directions are very straightforward, so you should have no problem following the trail even without a map. The clues can be trickier, but there are hints.<p>
	<p>For a few places we have two hunts - Easy and Hard - and the harder hunt has slightly more cryptic directions and clues. So if you like a challenge...</p>
	<h2>I've bought an online hunt, what now?</h2>
	<p>You will receive an email that includes a link to your hunt. If you open this email on your phone and click the link, it takes you straight there. There is also a voucher code on the email that you can type in manually <%= link_to "here", hunt_login_path %>.</p>
	<h2>I've bought a paper hunt, what now?</h2>
	<p>The cost of the hunt includes postage. You should receive your hunt within three working days.</p>
	<h2>Will it work on my mobile phone?</h2>
	<p>You'll need a 3G mobile phone or tablet device for our hunts to work. If you can use websites like Twitter or Amazon from your device then our Treasure Hunts should be no problem.</p>
	<p>Please note that you will need cookies enabled on your phone for the hunts to work.</p>
	<h2>How much of my data allowance will this use?</h2>
	<p>Very little! We designed our hunts to be compact, and all of them use less than 1MB of data. This also means they should load very quickly as you hunt.</p>
	<h2>What if my mobile phone can't connect?</h2>
	<p>We have only offered online hunts in areas with good mobile phone coverage, but of course problems can happen. 
	<ul><li>If you lose connection briefly, no problem, you can continue from where you left off as soon as it comes back.</li>
		<li>It might also be worth noting the answer to your current clue and then moving away to see if you can find a signal.</li>
		<li>If someone else on your team has a connection, start the hunt on their phone - it will pick up at the right clue automatically!</li>
		<li>As a final alternative, we do send you the PDF version of the hunt with your order, so if you print a copy and bring it you can still play. The PDF hunts work slightly differently, though the route is basically the same.</li>
	</ul></p>
	<p>You can even just download the PDF to your mobile device and read it there, though you'll need pencil and paper for jotting down answers.</p>
	<h2>What if my battery runs out?</h2>
	<p>Our Treasure Hunts use very little data, and do not use location services. We've tested them, and they use very little of a phone's charge.</p>
	<p>If you want to make sure you have enough battery, turn off location services and avoid using too many other apps while you're hunting. We can't help you much if your phone runs out of juice, unless you printed a copy of the PDF hunt to take with you.</p>
	<h2>How do I print the PDF hunt?</h2>
	<p>Our hunts include some picture clues, so your printer will need to be able to print photographs legibly. Colour would definitely be preferable, to help when looking at the pictures.</p>
	<p>The hunt booklet is A5 size, so when you open it in Acrobat Reader and choose "Print" you will need to change the settings to print multiple pages on a sheet, set the orientation to Landscape, and set it to print 2 by 1 pages. Here is a <a href="/print_settings/" target="_blank">screenshot</a> from my Acrobat Reader as an example, although your version may be different.</p>
	<p>If you don't have a printer, you can just download the PDF to a mobile phone or tablet and read it on there, though you'll need pencil and paper for jotting down answers.</p>
	<h2>What happens if a clue isn't there?</h2>
	<p>It does happen, which is why we try to re-walk our Treasure Hunts as often as possible. We also try and make clues out of things that will last, but there can be temporary building works, roadworks, vandalism and sometimes of course a building changes name or function.</p>
	<p>If you try to solve a clue and really can't, even with the hint provided, you'll just have to "Pass!" it. This is supposed to be a fun day out, after all! However, we'd really appreciate if you take a minute to tell us about the problem, it will help anyone else who does the hunt after you.</p>
	<h2>We're playing as a group, do we have to all huddle around one mobile phone or tablet?</h2>
	<p>No, anyone can open the hunt on their device using the voucher code or email link. Just make sure only one person answers the clues! The other people can then touch their mobile browser's refresh button to see the next clue.</p>
	<h2>Can I create a Treasure Hunt in my own town?</h2>
	<p>Talk to us! We'd love to put your Treasure Hunt onto our site, so we can explain how the whole process works and what format we need. If we put it up, we'll split the proceeds. How's that?</p>
	<h2>Can I create a Treasure Hunt just for my friends and family?</h2>
	<p>We're working on providing a really easy way for you to create your own private Treasure Hunt here, for your family and friends to play on their mobile phones and tablets. Keep watching this space!</p>
</div>	