<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Product</th>
			<th>User</th>
			<th>Voucher_Code</th>
			<th>Team_Name</th>
			<th>Email</th>
			<th>Started</th>
			<th>Paused</th>
			<th>Completed</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<%= render obj %>
	</tbody>
</table>