<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>Product</th>
			<th>User</th>
			<th>Voucher_Code</th>
			<th>Hunt_Group</th>
			<th>Status</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<%= render obj %>
	</tbody>
</table>