<div class="content span9 offset1">
	<p>The hunt booklet is A5 size, so if your printer has A4 paper you will need to change the settings when you open it in Acrobat Reader and choose "Print". Set it to print multiple pages, set the orientation to Landscape, and set it to print 2 by 1 pages.
	<p>These are the settings as they appear on my Acrobat Reader. Your version may be different.</p>
	<p>And don't worry if you can't get this to work! Just print normally, you'll have each page on a sheet of A4 which won't save the planet but will work just fine.</p>
	<p><img alt="Adobe Printer Settings" id="adobe" src="/assets/PrinterSetup.png" /></p>
</div>	