<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Product_Code</th>
			<th>Location</th>
			<th>Name</th>
			<th>Format</th>
			<th>Price</th>
			<th>Data_File</th>
			<th>Dormant</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render obj %>
	</tbody>
</table>