	<a class="pull-right closetopnote" href="#" >Close</a>

	<!-- About -->
	<div id="about" class="panel">
		<div class="content span6 offset1 well">
		<p>
			Salty plums are a Chinese snack that you can find in Asian food shops. 
			Apparently they've also become popular in Mexico. 
			They are insanely salty and sweet: eating one makes my mouth go squee and my eyes curl up in horror. 
			Which is somehow pleasant. In moderation. 
		</p>
		<p>
			
			They're not my favourite food, but the name also sounds a little rude and slightly intriguing. 
			I've always wanted to be seen as a little rude and slightly intriguing, so there you have it.
		</p>
		</div>
	</div>
	
	<div id="how" class="panel">
		<div class="content span6 well">
		<h2>Here on our website</h2>
		<ol>
			<li>Choose where you'd like to do a treasure hunt from our catalogue below</li>
			<li>Decide whether you want to play on your phone/tablet, or have a paper booklet to follow</li>
			<li>You can get the booklet as a PDF to print yourself, or we can send you one in the post</li>
			<li>If several teams are going to compete, order one copy of the hunt for each team *</li>
		</ol>
		<p class="note">* - for phone/tablet play. Feel free to copy the paper booklet!</p>
		</div>
		<div class="content span6 well">
		<h2>On the day of the hunt</h2>
		<ol>
			<li>Follow the directions to find the answers to a series of clues</li>
			<li>Relax and play at your own pace, or with the online hunt you can play against the clock!</li>
			<li>Take breaks whenever you wish and take time to learn more about the area</li>
			<li>Solve the last clue and you'll have the final answer. No prizes, but a fun day out!</li>
		</ol>
		<a class="center seeexample btn btn-primary" href="#" >See an example</a>
		</div>
	</div>
	
	<div id="contact" class="panel">
		<div class="content span6 offset1 well">
			<form method="POST" id='contactForm' class="form-horizontal" >
				<p class="center">Have any questions or comments? We're only a click away!</p>
				
				  <div class="control-group">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
					  <input type="text" id="name_input" name="name"/>
					</div>
				  </div>
				  
				  <div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
					  <input type="text" id="email_input" name="email"/>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="message">Message</label>
					<div class="controls">
					  <textarea rows="3" id="message_textarea" name="message" ></textarea>
					</div>
				  </div>
				  <div class="control-group">
					<div class="controls">
					   <button type="submit" class="btn">Send message</button>
					</div>
				  </div>  

			</form>
		</div>
		<div class="content span5 well">
			<p>We are particularly keen to hear if you have any problems with directions or clues that may no longer work.</p> 
			<p>While we try and re-check our hunts regularly, towns and cities change all the time. There may be roadworks, buildings may be altered, signs removed.</p> 
			<p>Thanks for helping keep these hunts fun for everyone!</p>
		</div>
	</div>
	<!-- /About -->
