<a class="close closetopnote pull-right" href="#">&times;</a>
<div class="container-about container-fluid">

	<div id="about" class="panel row-fluid">
		<%= render 'shared/about' %>
	</div>
	
	<div id="how" class="panel row-fluid">
		<div class="content span4">
			<h2>Play online</h2>
			<p>Armed with your 3G phone or tablet, take advantage of online hints and play against the clock if you like!</p>
			<a class="label label-info" href="#" >See an example</a>
		</div>
		<div class="content span4">
			<h2>&lt; Two ways to play &gt;</h2>
			<p>The directions lead you on an enlightening trail around the area</p>
			<p>On the way you'll need to stay sharp and find answers to a series of clues</p>
			<p>Answer a clue correctly, and you'll learn something more about the place</p>
			<p>Relax and play at your own pace, or play in teams and make a contest of it!</p>
			<p>See the <a href="/faq" class="label label-info" href="#" >FAQ</a> page for more help</p>
		</div>
		<div class="content span4">
			<h2>Play on paper</h2>
			<p>Download a PDF to print yourself, or have us send you a copy. Some include bonus puzzles.</p>
			<a class="label label-info pull-right" href="#" >See an example</a>
		</div>
	</div>
	
	<div id="contact" class="panel row-fluid">
		<%= render 'shared/contact' %>
	</div>
</div>