	<a class="pull-right closetopnote" href="#" >Close</a>

	<!-- About -->
	<div id="about" class="panel">
		<%= render 'shared/about' %>
	</div>
	
	<div id="how" class="panel">
		<div class="content span6 well">
		<h2>Here on our website</h2>
		<ol>
			<li>Choose where you'd like to do a treasure hunt from our catalogue below</li>
			<li>Decide whether you want to play on your phone/tablet, or have a paper booklet to follow</li>
			<li>You can get the booklet as a PDF to print yourself, or we can send you one in the post</li>
			<li>If several teams are going to compete, order one copy of the hunt for each team *</li>
		</ol>
		<p class="note">* - for phone/tablet play. Feel free to copy the paper booklet!</p>
		</div>
		<div class="content span6 well">
		<h2>On the day of the hunt</h2>
		<ol>
			<li>Follow the directions to find the answers to a series of clues</li>
			<li>Relax and play at your own pace, or with the online hunt you can play against the clock!</li>
			<li>Take breaks whenever you wish and take time to learn more about the area</li>
			<li>Solve the last clue and you'll have the final answer. No prizes, but a fun day out!</li>
		</ol>
		<a class="center seeexample btn btn-primary" href="#" >See an example</a>
		<a href="/faq" class="center seeexample btn btn-primary" href="#" >FAQ</a>
		</div>
	</div>
	
	<div id="contact" class="panel">
		<%= render 'shared/contact' %>
	</div>
	<!-- /About -->
