<section id="topnote">
	<!-- About -->
	<div id="about" class="panel">
		<div class="content">
			<p>Salty plums are a Chinese snack that you can find in Asian food shops. Apparently they've also become popular in Mexico. They are insanely salty and sweet: eating one makes my mouth go squee and my eyes curl up in horror. Which is somehow pleasant. In moderation. They're not my favourite food, but the name also sounds a little rude and slightly intriguing. I've always wanted to be seen as a little rude and slightly intriguing, so there you have it.</p>
		</div>
	</div>
	<div id="how" class="panel">
		<div class="content">
			<p>We both love eating out. Lots and lots of Michelin stars, lots of foams and emulsions, cunning patisserie and tender water-bathed meat. Since returning from our year of travelling I've been thinking more carefully about the intersection of price and quality; finding a place to enjoy really good foor for a tenner is just as precious as finding exquisite food for a cool hundred. That's because for now we're jobless bums living off our savings.</p>
		</div>
	</div>
	<div id="contact" class="panel">
	
		<form method="POST" id='contactForm' action="javascript:void(0);" >
			<p>Have a question or comment? We're only a click away!</p>
			<ul>
			<li> 
				<label class="field_name" for="name">Name *</label> 	
				<input type="text" id='name_input' name="name" class="text"/>
			</li>
			<li> 
				<label class="field_name" for="email">Email *</label>
				<input type="text" id='email_input' name="email" class="text"/>
			</li>
			<li>  
				<label class="field_name" for="message">Message</label>
				<textarea style='width:285px;height:80px' id="message_textarea" name="message" class="textfield"></textarea>
		   </li>
		   <li>
				<label class="field_name"></label>
				<input type="submit" onClick='submitForm()' class="button" value='Send Message!'/> 	
		   </li>
		   </ul>
		</form>

	</div>
	<!-- /About -->
</section>
