<a class="close closetopnote pull-right" href="#">&times;</a>
<div class="container-about container-fluid">

	<div id="about" class="panel row-fluid">
		<%= render 'shared/about' %>
	</div>
	
	<div id="how" class="panel row-fluid">
		<div class="content span4">
			<p><strong>Two ways to play...</strong></p>
			<p>
				<img alt="Phone" class="howpic" id="phone" src="/assets/Phone.png" />
				<img alt="Paper booklets" class="howpic" id="booklets" src="/assets/Booklets.png" />
			</p>
			<p>Armed with your 3G phone/tablet, or with a paper hunt pack, set off to hunt down clues and learn about the places you visit!</p>
		</div>
		<div id="sample-clues" class="content span4">
			<div id="clue1" class="example-clue"><p>Opposite a lane named after a thieving bird, turn left.</p><p>As you walk, look out for a set of gates.</p><p>They are decorated by red roses and an article of clothing someone might wear on their...?</p></div>
			<div id="clue2" class="example-clue"><p>Look up!  These two hard-working figures can be found on which building?</p><p><img src="/assets/Brasenose.jpg" /></p></div>
			<div id="clue3" class="example-clue"><p>Turn your back on the gates and walk down Church Street.</p><p>Find an old fireplace in Church Street Gardens. Who is commemorated here?</p></div>
		</div>
		<div class="content span4">
			<p>With your phone you can take advantage of online hints and play against the clock.</p>
			<p>For paper hunts, download a PDF to print yourself or have us send you a copy.</p>
			<p>Relax and play at your own pace, or play in teams and make a contest of it!</p>
			<p>See the <a href="/faq" class="label label-info" href="#" >FAQ</a> page for more help</p>
		</div>
	</div>
	
	<div id="contact" class="panel row-fluid">
		<%= render 'shared/contact' %>
	</div>
</div>