/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* Overrides of bootstrap variables */
$baseFontSize: 14px;

@import "bootstrap";
@import "bootstrap-responsive";

/* variables */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */
html {
/*	overflow-y: scroll;*/
}
body {
}
.row {
	margin: 10px;
}
section {
/*	overflow: auto;*/
}
textarea {
/*	resize: vertical;*/
}
.center {
	text-align: center;
}
.center h1 {
	margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	text-align: center;
}
h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #666666;
	margin-left: 10px;
}
h3 {
	margin-top: 0.1em;
	font-size: 1.0em;
	text-align: center;
	font-weight: normal;
	color: #664400;
	text-shadow: 0px 1px 1px white;
	#cluelabel {
		font-weight: bold;
		font-size: 0.6em;
	}
	#cluenumber {
		font-size: 1.6em;
	}
}
.blob {
	float: left;
	clear: right;
	width: 3.0em;
	height: 3.0em;
	line-height: 1.4em;
	margin: 0.5em 0.75em 0.5em 0em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff777), to(#eee744));
	background-image: -webkit-linear-gradient(top, #fff777, #eee744); 
	background-image: -moz-linear-gradient(top, #fff777, #eee744); 
	background-image: -ms-linear-gradient(top, #fff777, #eee744); 
	background-image: -o-linear-gradient(top, #fff777, #eee744); 
/*	border: 1px solid gray;*/
	box-shadow: 0px 4px 9px #cc7700, 0px 3px 4px #ffffff inset;
	-moz-box-shadow: 0px 4px 9px #cc7700, 0px 3px 4px #ffffff inset;
	-o-box-shadow: 0px 4px 9px #cc7700, 0px 3px 4px #ffffff inset;
	border-radius: 50%;
	background-color: #fff777;
}		
p, li {
	line-height: 1.4em;
}
.footnote {
	font-size: 0.7em;
}
/* header */
header {
	height: 4.0em;
	background-color: black;
	color: white;
	.left {
		float:left;
	}
	.right {
		float:right;
	}
	.middle {
		padding-top: 0.4em;
	}
	#team {
		width: 25%;
		font-size: 0.8em;
		margin-right: 0.5em;
		margin-top: 0.5em;
		#teamlabel {
			color: $grayLight;
		}
	}
	#logo {
		width: 3.0em;
		/*float: left;*/
		margin-left: 0.5em;
		margin-top: 0.5em;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
}
/* forms */
.input-honey {
	display: none !important;
}
/*input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	margin-bottom: 15px;
	@include box_sizing;
}*/
#answerbox {
	margin: 0.5em 0.25em 0.5em 0.25em;
	padding: 0em 0.3em 0em 0.3em;
	border: 1px solid #1111ff;
	box-shadow: 1px 2px 3px #111199 inset, -1px -1px 3px #111199 inset;
	-moz-box-shadow: 1px 2px 3px #111199 inset, -1px -1px 3px #111199 inset;
	-o-box-shadow: 1px 2px 3px #111199 inset, -1px -1px 3px #111199 inset;
	border-radius: 0.3em;
	background-color: #6666ff;
	.btn {
		height: 3.0em;
		margin: 0.3em 0em 0.3em 0em;
	}
}
#buttonbar {
	margin: 0.5em 0.25em 0.5em 0.25em;
	padding: 0.4em;
	border: 1px solid #009900;
	box-shadow: 1px 2px 3px #117711 inset, -1px -1px 3px #117711 inset;
	-moz-box-shadow: 1px 2px 3px #117711 inset, -1px -1px 3px #117711 inset;
	-o-box-shadow: 1px 2px 3px #117711 inset, -1px -1px 3px #117711 inset;
	border-radius: 0.3em;
	background-color: #00cc00;
	.whitelink {
		font-size: 0.9em;
		color: white;
	}
}
.answer_set {
	height: 100%;
	padding: 0px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	margin-bottom: 1px;
	.answer_btn {
		padding-left: 0px;
		margin-left: 0px;
/*		float: left;*/
	}
	.answer_text {
		text-align: left;
		font-size: 1.0em;
/*		float: right;*/
		width: 80%;
	}
	.answer_clear {
		font-size: 1px;
		height: 1px;
/*		clear: both;*/
	}
}
.cluepic {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
centered {
	text-align: center;
}
.badge-large {
	line-height: 18px;
	font-size: 1.2em;
}
/* For centering pairs of buttons etc */
.inner {
	float:left;
	position:relative;
	left:50%;
}
.center {
	float:left;
	position:relative;
	left:-50%;
}
.outer {
	position:relative;
	overflow:hidden;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}
.answer-link {
	height: auto !important;
	min-height: 3em;
	font-size: 0.9em; 
	line-height: 1; 
}
.field_with_errors {
	@extend .control-group;
	@extend .error;
}
/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	font-size: 0.7em;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

#popup, #popup_problem, #popup_confirm, #popup_map {
	background: #111111;
	color: #ffffff;
	padding: 10px;
	border: 2px solid #EEEEFF;
	border-radius: 10px;

	box-shadow: 0px 3px 20px #000000, 0px 0px 4px 2px #000000 inset;
	-moz-box-shadow: 0px 3px 20px #000000, 0px 0px 4px 2px #000000 inset;
	-o-box-shadow: 0px 3px 20px #000000, 0px 0px 4px 2px #000000 inset;
	
	position: fixed;
	top: 50%;
	width: 90%;
	left: 2.5%;
	margin-top: -100px;
	z-index: 9999;
	display: none;
	
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;

	h2 {
		text-align: center;
		padding: 0;
		font-size: 1.2em;
		font-weight: bold;
		color: #EEEEFF;
	}
	p {
		text-align: center;
		padding-right: 20px;
		font-size: 0.9em;
		ul {
			list-style: none;
			li {
				text-align: left;
				margin-top: 1em;
			}
		}
	}
	#closepopup {
		float: center;
	}
}
#popup_map {
	top: 25%;
	#staticmap {
		display: block;
		width: 250px;
		height: 250px;
		margin-left: auto;
		margin-right: auto;
	}
	#interactivemap {
		width: 250px;
		height: 250px;
		margin: auto;
	}
}
.main_dark_overlay {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 1001;
	opacity: 0.6;
	filter: alpha(opacity=60); /* IE6+ */
}

/* Over-ride Bootstrap's default 20px padding when viewed on phones */
@media (max-width: 767px) {
  body {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

/* Miscellaneous */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}