/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-responsive";

/* variables */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */
html {
	overflow-y: scroll;
}
body {
}
section {
	overflow: auto;
}
textarea {
	resize: vertical;
}
.center {
	text-align: center;
}
.center h1 {
	margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
h1 {
	font-size: 1.5em;
	letter-spacing: 0px;
	margin-bottom: 10px;
	text-align: left;
}
h2 {
	font-size: 1.2em;
	margin-bottom: 8px;
	font-weight: normal;
	color: $grayLight;
}	
p {
	font-size: 1.1em;
	line-height: 1.7em;
}
/* header */
header {
	height: 50px;
	background-color: black;
	color: white;
	text-align: center;
	#huntname {
		/*border: 1px red solid;*/
		font-size: 1.2em;
		font-weight: bold;
		width: 100%;
		margin-top: 15px;
		display: block;
	}
	#team {
		/*border: 1px blue solid;*/
		font-size: 0.8em;
		fint-weight: bold;
		float: right;
		margin-right: 5px;
		margin-top: 3px;
	}
	#teamlabel {
		color: red;
	}
	#logo {
		width: 40px;
		float: left;
		margin-left: 5px;
		margin-top: 5px;

		&:hover {
			color: white;
			text-decoration: none;
		}
	}
}
/* forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}
.answer_set {
	border: 1px blue solid;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.answer_btn {
	border: 1px green solid;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
	float: left;
}
.answer_text {
	border: 1px red solid;
	text-align: left;
	font-size: 0.8em;
	float: right;
	width: 80%;
}
.answer_clear {
	border: 1px black solid;
	font-size: 1px;
	height: 1px;
	clear: both;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}
.field_with_errors {
	@extend .control-group;
	@extend .error;
}
/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}
/* users index */
.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter; 
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}
#popup {
	background: #000;
	color: #fff;
	padding: 10px;

	box-shadow: 0 3px 25px #000;
	-moz-box-shadow: 0 3px 25px #000;
	-o-box-shadow: 0 3px 25px #000;
	
	position: fixed;
	top: 50%;
	width: 100%;
	margin-top: -100px;
	margin-left: -20px;
	z-index: 9999;
	display: none;
	
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;

	h2 {
		text-align: center;
		padding: 0;
		font-size: 1.2em;
		font-weight: bold;
	}
	p {
		text-align: center;
		padding-right: 20px;
		font-size: 0.9em;
	}
	#closepopup {
		float: center;
	}
}

#giveup {
	background: #000;
	color: #fff;
	padding: 10px;

	box-shadow: 0 3px 25px #000;
	-moz-box-shadow: 0 3px 25px #000;
	-o-box-shadow: 0 3px 25px #000;
	
	position: fixed;
	top: 50%;
	width: 100%;
	margin-top: -100px;
	margin-left: -20px;
	z-index: 9999;
	display: none;
	
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;

	h2 {
		text-align: center;
		padding: 0;
		font-size: 1.2em;
		font-weight: bold;
	}
	p {
		text-align: center;
		padding-right: 20px;
		font-size: 0.9em;
	}
	#closepopup {
		float: center;
	}
}

.main_dark_overlay {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 1001;
	opacity: 0.6;
	filter: alpha(opacity=60); /* IE6+ */
}

/* Miscellaneous */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}