/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require site
 *= require accordion
 *= require wordplay
 */
body {
}
header {
	height: 200px;
	background-image: url('Header.jpg');
	background-position: bottom center;
	background-repeat: repeat;
	background-color: #2D6EFA;
	
	#topnotebar {
		margin: 0;
		position: absolute;
		bottom: -15px;

		ul {
			counter-reset: li;
			li a {
				text-transform: uppercase;
				text-decoration: none;
				font-size: 1.20em;
				text-shadow: none;
				font-family: Helvetica, cursive;
				font-weight: bold;
				color: #FFE900; 

				&:hover {
					color: #FFFFBB;
				}
			}
			li.activelink a {
				color: #FFFFBB;
			}
		}			
	}
	.logo {
		width: 25%;
		max-width: 280px;
		min-width: 160px;
		margin: 10px;
		float: left;
	}
}

@media (max-width: 600px) { 
	#wordplay {
		display: none;
	}
	.logo {
		width: 240px;
	}
}
@media (max-width: 520px) { 
	.optitem {
		display: none;
	}
}

#topnote {
	width: 100%;
	height: 4px;
	overflow: auto;
	position: relative;
	margin: 0; padding: 0;
	background: #FFE900;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	z-index: 2;

	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;

	.container-about {
		margin-left: 20px;
		margin-right: 20px;
	}
	.panel {
		display: none;
		overflow: hidden;
		font-size: 1.0em/1.2em;
		/*font-family: 'Wellfleet', cursive;*/
		h2 {
			text-align: center;
		}
	}
	#sample-clues {
		position: relative;
		height: 270px;
	}
	.content {
		background: #FFE900;
		border: none;
		padding: 0;
		h2 {
			margin: 0 0 6px 0;
			font-size: 1.2em;
		}
		.note {
			font-size: 0.8em;
		}
		.howpic {
			width: 125px;
		}
		.example-clue {
			width: 180px;
			font-weight: normal;
			opacity: 0;
			background: #FFFFFF;
			border: 5px solid #f4f4ff; 
			border-radius: 1em;
			padding: 0.8em 0.8em 0em 0.8em;
			img {
				width: 140px;
				margin-left: 20px;
			}
			box-shadow: 2px 3px 12px #DD9900, 0 -4px 4px -2px #dddddd inset, -3px 3px 6px #ffffff inset;
			-moz-box-shadow: 2px 3px 12px #DD9900, 0 -4px 4px -2px #dddddd inset, -3px 3px 6px #ffffff inset;
			-o-box-shadow: 2px 3px 12px #DD9900, 0 -4px 4px -2px #dddddd inset, -3px 3px 6px #ffffff inset;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2ff), to(#fcfcff));
			background-image: -webkit-linear-gradient(top, #f2f2ff, #fcfcff); 
			background-image: -moz-linear-gradient(top, #f2f2ff, #fcfcff); 
			background-image: -ms-linear-gradient(top, #f2f2ff, #fcfcff); 
			background-image: -o-linear-gradient(top, #f2f2ff, #fcfcff); 
			
			-webkit-animation: rotateWordsFirst 12s linear infinite 0s;
			-moz-animation: rotateWordsFirst 12s linear infinite 0s;
			-o-animation: rotateWordsFirst 12s linear infinite 0s;
			-ms-animation: rotateWordsFirst 12s linear infinite 0s;
			animation: rotateWordsFirst 12s linear infinite 0s;
			
			&:nth-child(2) { 
				-webkit-animation-delay: 4s; 
				-moz-animation-delay: 4s; 
				-o-animation-delay: 4s; 
				-ms-animation-delay: 4s; 
				animation-delay: 4s; 
				color: #6b889d;
			}
			&:nth-child(3) { 
				-webkit-animation-delay: 8s; 
				-moz-animation-delay: 8s; 
				-o-animation-delay: 8s; 
				-ms-animation-delay: 8s; 
				animation-delay: 8s; 
				color: #6b739d;
			}
		}
		#clue1 {
			position: absolute;
			top: 0px;
			left: 0px;
		}
		#clue2 {
			position: absolute;
			top: 40px;
			left: 40px;
		}
		#clue3 {
			position: absolute;
			top: 80px;
			left: 10px;
		}
	}
	.closetopnote {
		margin: 5px 20px;
	}
}
#info {
	width: 80%;
	margin: 15px auto;
	overflow: hidden;
	h1 {
	
	}
}
#boxes {
	/*width: 80%;*/
	margin: 15px auto;
	overflow: hidden;
	text-align: center;
	/* 3 and 5 columns based on 272px total product width (width + margin + borders + 8px)*/
	min-width: 320px;
	/*min-width: 816px;*/
	/*max-width: 1360px;*/
	.box {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: li;
		width: 90%;
		margin: 15px auto;
		li {
			position: relative;
			display: inline-block;
			*display:inline; /* IE 7 */
			width: 267px;
			line-height: 0.5em;
			text-align: left;
			cursor: pointer;
			margin: 10px;
			padding: 10px;
			-webkit-border-radius: 14px 0 14px 0;
			-moz-border-radius: 14px 0 14px 0;
			border-radius: 14px 0 14px 0;
			background-color: white;
			img {
				height: 200px;
				width: 267px;
				object-fit: cover;
				object-position: top 75%;
				overflow: hidden;
				opacity: 1;

				-webkit-border-radius: 10px 0 10px 0;
				-moz-border-radius: 10px 0 10px 0;
				border-radius: 10px 0 10px 0;
			}
			span {
				display: block;
				position: absolute;
				width: auto;
				text-align: left;			
				padding: 10px;
				margin: 0;
				font-size: 1.2em;
				font-family: Helvetica, cursive;
			}
			.placelabel {
				opacity: .75;
				font-weight: bold;

				-webkit-border-radius: 10px 0 10px 0;
				-moz-border-radius: 10px 0 10px 0;
				border-radius: 10px 0 10px 0;
			}
			.placename {
				background: transparent;
				color: #ffffff;
				opacity: 1;
				font-weight: bold;
			}
		}
	} 
	@media (max-width: 750px) { 
		.box {
			width: 100%;
		}
	}
}
#popupmenu {
	padding: 0;
	margin: 10px 0;
	list-style: none;
	position: relative;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	select {
		width: 500px;
	}
	input {
		width: 30px;
	}
	li {
		padding: 0;
	}
}

@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in }
    6% { opacity: 1 }
	30% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes rotateWordsFirst {
    0% { opacity: 0; -moz-animation-timing-function: ease-in }
    6% { opacity: 1 }
	30% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes rotateWordsFirst {
    0% { opacity: 0; -o-animation-timing-function: ease-in }
    6% { opacity: 1 }
	30% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes rotateWordsFirst {
    0% { opacity: 0; -ms-animation-timing-function: ease-in }
    6% { opacity: 1 }
	30% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes rotateWordsFirst {
    0% { opacity: 0 }
    6% { opacity: 1 }
	30% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
