<% provide(:title, "Products") %>

<h1>Products</h1>
<div class="row">
	<div class="span10 offset1">
		<section>
			<h2>Product details</h2>
			<%= render "shared/product_table", obj: @products %>
			<%= will_paginate %>
		</section>
	</div>
</div>
