<% provide(:title, @product.name) %>

	<h1>Product: <%= @product.name %></h1>

	<div class="container">
		<div class="row">
			<div class="span8 offset1">
				<section>
					<h2>Product details</h2>
					<%= render "shared/product_table", obj: @product %>
				</section>
				<section>
					<h2>Product data</h2>
					<%= transform_xml("product", "#{@product.data_file}.xml").to_s.html_safe %>
				</section>
			</div>
			
			<%= link_to "Add a new hunt", controller: "hunts", action: "new", product: @product %>

		</div>
	</div>
	