<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Hunt_Mode</th>
			<th>Image</th>
			<th>Region</th>
			<th>Data_File</th>
			<th>Products</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render obj %>
	</tbody>
</table>