<footer class="footer">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><%= link_to "FAQ", faq_path %></li>
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
			<span id="copyright">Copyright &copy; 2012-2013 Treasure Hunt Britain. All rights reserved.</span>
		</div>
	</div>
</footer>