<footer class="footer">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><%= link_to "FAQ", faq_path %></li>
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
			<span id="copyright">Copyright &copy; 2012-2013 Treasure Hunt Britain. All rights reserved.</span>
		</div>
	</div>
</footer>

<script>
/*
	jQuery.validator.setDefaults({
	  debug: true,
	  success: "valid"
	});
*/
	$(".form-validate").validate({
		rules: {
			'session[user_name]': {
				email: true,
				required: true			
			},
			'session[email]': {
				email: true,
				required: true			
			},
			'session[password]': {
				minlength: 6,
				required: true 
			},
			'user[name]': {
				required: true
			},
			'user[user_name]': {
				email: true,
				required: true
			},
			'user[password]': {
				minlength: 6,
				required: true 
			},
			'user[password_confirmation]': {
				equalTo: '#user_password'
			},
			'user[email]': {
				email: true,
				required: true 
			},
			'user[address_1]': {
				required: true 
			},
			'user[postcode]': {
				required: true 
			},
			'session[email]': {
				email: true,
				required: true 
			},
			'session[address_1]': {
				required: true 
			},
			'session[postcode]': {
				required: true 
			}
		},
		highlight: function(element) {
			$(element).closest('.control-group').removeClass('success').addClass('error');
		},
		success: function(element) {
			$(element).text('').addClass('valid');
			$(element).closest('.control-group').removeClass('error').addClass('success');
		}
	});
	$(".form-validate2").validate({
		rules: {
			'session[email]': {
				email: true,
				required: true 
			},
			'session[address_1]': {
				required: true 
			},
			'session[postcode]': {
				required: true 
			}
		},
		highlight: function(element) {
			$(element).closest('.control-group').removeClass('success').addClass('error');
		},
		success: function(element) {
			$(element).text('').addClass('valid');
			$(element).closest('.control-group').removeClass('error').addClass('success');
		}
	});
	$(".form-cart :text[name^='product[']").each(function(){
		$(this).rules("add", {
			range: [1, 20]
		});
	});
</script>